In [57]:
import pandas as pd
dataset = pd.read_csv("Crop_recommendation.csv")
dataset

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label,Unnamed: 8,Unnamed: 9
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,NaN,NaN
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,NaN,NaN
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,NaN,NaN
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,NaN,NaN
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee,NaN,NaN
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee,NaN,NaN
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee,NaN,NaN
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee,NaN,NaN
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee,NaN,NaN

In [58]:
data1=pd.Series([1,2,3,4,5])
data1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [59]:
data2=pd.DataFrame({
    "roll":[101,102,103,104],
    "name":["nisha","nilu","ammu","rafeek"],
    "mark":[66,77,34,89],
    
})
data2

   roll    name  mark
0   101   nisha    66
1   102    nilu    77
2   103    ammu    34
3   104  rafeek    89

In [60]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   roll    4 non-null      int64
 1   name    4 non-null      object
 2   mark    4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [61]:
data2.describe()

             roll       mark
count    4.000000   4.000000
mean   102.500000  66.500000
std      1.290994  23.614967
min    101.000000  34.000000
25%    101.750000  58.000000
50%    102.500000  71.500000
75%    103.250000  80.000000
max    104.000000  89.000000

In [62]:
data2["roll"]

0    101
1    102
2    103
3    104
Name: roll, dtype: int64

In [63]:
data2["mark"].mean()

66.5

In [64]:
res=data2["mark"]>70
data2[res]

   roll    name  mark
1   102    nilu    77
3   104  rafeek    89

In [65]:
data2[0:2]

   roll   name  mark
0   101  nisha    66
1   102   nilu    77

In [66]:
data2["name"][0:2]

0    nisha
1     nilu
Name: name, dtype: object

In [67]:
dataset.columns

Index(['Nitrogen', 'phosphorus', 'potassium', 'temperature', 'humidity', 'ph',
       'rainfall', 'label', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [68]:
dataset['Nitrogen'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
2195    False
2196    False
2197    False
2198    False
2199    False
Name: Nitrogen, Length: 2200, dtype: bool

In [69]:
dataset['Nitrogen'].value_counts()

Nitrogen
22     44
40     44
27     42
39     41
31     41
       ..
136     2
139     1
135     1
130     1
46      1
Name: count, Length: 137, dtype: int64

In [70]:
import numpy as np
data=pd.DataFrame(np.arange(15).reshape(3,5))
data

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [71]:
a=pd.Series(10,index=["a","b","c","d","e"])
a

a    10
b    10
c    10
d    10
e    10
dtype: int64

In [72]:
coursera=pd.read_csv("CourseraDataset-Unclean.csv")

In [73]:
coursera

,Course Title,Rating,Level,Duration,Schedule,Review,What you will learn,Skill gain,Modules,Instructor,Offered By,Keyword,Course Url
0,Fashion as Design,4.8,Beginner level,20 hours (approximately),Flexible schedule,"2,813 reviews",NaN,"['Art History', 'Art', 'History', 'Creativity']","['Introduction', 'Heroes', 'Silhouettes', 'Cou...","['Anna Burckhardt', 'Paola Antonelli', 'Michel...",['The Museum of Modern Art'],Arts and Humanities,https://www.coursera.org/learn/fashion-design
1,Modern American Poetry,4.4,Beginner level,Approx. 34 hours to complete,Flexible schedule,100 reviews,NaN,[],"['Orientation', 'Module 1', 'Module 2', 'Modul...",['Cary Nelson'],['University of Illinois at Urbana-Champaign'],Arts and Humanities,https://www.coursera.org/learn/modern-american...
2,Pixel Art for Video Games,4.5,Beginner level,9 hours (approximately),Flexible schedule,227 reviews,NaN,[],"['Week 1: Introduction to Pixel Art', 'Week 2:...","['Andrew Dennis', 'Ricardo Guimaraes']",['Michigan State University'],Arts and Humanities,https://www.coursera.org/learn/pixel-art-video...
3,Distribución digital de la música independiente,NaN,Beginner level,Approx. 8 hours to complete,Flexible schedule,NaN,NaN,[],"['Semana 1', 'Semana 2', 'Semana 3', 'Semana 4']",['Eduardo de la Vara Brown.'],['SAE Institute México'],Arts and Humanities,https://www.coursera.org/learn/distribucion-di...
4,The Blues: Understanding and Performing an Ame...,4.8,Beginner level,Approx. 11 hours to complete,Flexible schedule,582 reviews,Students will be able to describe the blues as...,"['Music', 'Chord', 'Jazz', 'Jazz Improvisation']","['Blues Progressions – Theory and Practice ', ...",['Dariusz Terefenko'],['University of Rochester'],Arts and Humanities,https://www.coursera.org/learn/the-blues
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9590,Power Onboarding,4.1,Beginner level,Approx. 7 hours to complete,Flexible schedule,36 reviews,NaN,[],"['Week 1 - Get Ready', 'Session 2 - Get Set', ...",['William J. White'],['Northwestern University'],Social Sciences,https://www.coursera.org/learn/power-onboarding
9591,Implementing Parent Feedback with Google Forms,4.9,Beginner level,NaN,NaN,77 reviews,Creating engaging parent surveys using Google ...,"['Education', 'online tools', 'engagement', 'e...",['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/education-fe...
9592,"""Making"" Progress Teach-Out",4.2,Beginner level,Approx. 5 hours to complete,Flexible schedule,10 reviews,NaN,[],"['Week 1', 'WEEK 2']",['Pablo Palomino'],['Emory University'],Social Sciences,https://www.coursera.org/learn/makingprogress
9593,Use Microsoft PowerPoint to Create a Visual Sc...,4.5,Beginner level,1 hour,NaN,11 reviews,Learn about choice boards and their use within...,"['Teaching tools', 'elementary teaching', 'eng...",['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/use-microsof...
9594,Créer du contenu pour les réseaux sociaux avec...,NaN,Beginner level,NaN,NaN,NaN,Vous découvrirez les fonctionnalités de Prezi ...,"['Social Media Marketing', 'Social Media', 'Co...",['Learn step-by-step'],['Sara Nefzaoui'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/creer-conten...

In [74]:
coursera['Rating'].isnull()

0       False
1       False
2       False
3        True
4       False
        ...
9590    False
9591    False
9592    False
9593    False
9594     True
Name: Rating, Length: 9595, dtype: bool

In [75]:
coursera['Rating'].isnull().value_counts()

Rating
False    8156
True     1439
Name: count, dtype: int64

In [77]:
coursera.loc[coursera['Rating'].isna(),'Rating']=20
coursera['Rating']

0        4.8
1        4.4
2        4.5
3       20.0
4        4.8
        ...
9590     4.1
9591     4.9
9592     4.2
9593     4.5
9594    20.0
Name: Rating, Length: 9595, dtype: float64

In [78]:
coursera.columns

Index(['Course Title', 'Rating', 'Level', 'Duration', 'Schedule', 'Review',
       'What you will learn', 'Skill gain', 'Modules', 'Instructor',
       'Offered By', 'Keyword', 'Course Url'],
      dtype='object')

In [79]:
coursera['Keyword'].dropna()

0       Arts and Humanities
1       Arts and Humanities
2       Arts and Humanities
3       Arts and Humanities
4       Arts and Humanities
               ...
9590        Social Sciences
9591        Social Sciences
9592        Social Sciences
9593        Social Sciences
9594        Social Sciences
Name: Keyword, Length: 9595, dtype: object

In [80]:
coursera.head(10)

,Course Title,Rating,Level,Duration,Schedule,Review,What you will learn,Skill gain,Modules,Instructor,Offered By,Keyword,Course Url
0,Fashion as Design,4.8,Beginner level,20 hours (approximately),Flexible schedule,"2,813 reviews",NaN,"['Art History', 'Art', 'History', 'Creativity']","['Introduction', 'Heroes', 'Silhouettes', 'Cou...","['Anna Burckhardt', 'Paola Antonelli', 'Michel...",['The Museum of Modern Art'],Arts and Humanities,https://www.coursera.org/learn/fashion-design
1,Modern American Poetry,4.4,Beginner level,Approx. 34 hours to complete,Flexible schedule,100 reviews,NaN,[],"['Orientation', 'Module 1', 'Module 2', 'Modul...",['Cary Nelson'],['University of Illinois at Urbana-Champaign'],Arts and Humanities,https://www.coursera.org/learn/modern-american...
2,Pixel Art for Video Games,4.5,Beginner level,9 hours (approximately),Flexible schedule,227 reviews,NaN,[],"['Week 1: Introduction to Pixel Art', 'Week 2:...","['Andrew Dennis', 'Ricardo Guimaraes']",['Michigan State University'],Arts and Humanities,https://www.coursera.org/learn/pixel-art-video...
3,Distribución digital de la música independiente,20.0,Beginner level,Approx. 8 hours to complete,Flexible schedule,NaN,NaN,[],"['Semana 1', 'Semana 2', 'Semana 3', 'Semana 4']",['Eduardo de la Vara Brown.'],['SAE Institute México'],Arts and Humanities,https://www.coursera.org/learn/distribucion-di...
4,The Blues: Understanding and Performing an Ame...,4.8,Beginner level,Approx. 11 hours to complete,Flexible schedule,582 reviews,Students will be able to describe the blues as...,"['Music', 'Chord', 'Jazz', 'Jazz Improvisation']","['Blues Progressions – Theory and Practice ', ...",['Dariusz Terefenko'],['University of Rochester'],Arts and Humanities,https://www.coursera.org/learn/the-blues
5,So You Think You Know Tango?,4.6,Beginner level,Approx. 5 hours to complete,Flexible schedule,107 reviews,Gain an appreciation for the Argentine Tango a...,[],['Module 1: The Many Dimensions of Tango and T...,['Kristin Wendland'],['Emory University'],Arts and Humanities,https://www.coursera.org/learn/tango
6,The Politics of Skepticism,4.5,Intermediate level,Approx. 13 hours to complete,Flexible schedule,38 reviews,NaN,[],"['Political Origins', 'Skepticism and Religion...","['Tim De Mey', 'Wiep van Bunge']",['Erasmus University Rotterdam'],Arts and Humanities,https://www.coursera.org/learn/erasmus-philoso...
7,Становлення сучасної України,20.0,Beginner level,Approx. 23 hours to complete,Flexible schedule,NaN,NaN,[],['Становлення сучасної України'],['Timothy Snyder'],['Yale University'],Arts and Humanities,https://www.coursera.org/learn/the-making-of-m...
8,Exploring Beethoven's Piano Sonatas Part 4,4.9,Intermediate level,Approx. 5 hours to complete,Flexible schedule,63 reviews,NaN,[],"['Welcome to Class!', 'Op. 2, No. 2', 'Op. 10,...",['Jonathan Biss'],['Curtis Institute of Music'],Arts and Humanities,https://www.coursera.org/learn/exploring-beeth...
9,悖论：思维的魔方,4.8,Beginner level,Approx. 44 hours to complete,Flexible schedule,39 reviews,NaN,[],"['预备知识和悖论概述', '上帝悖论和连锁悖论', '芝诺悖论和无穷之谜', '逻辑-集合...",['陈波'],['Peking University'],Arts and Humanities,https://www.coursera.org/learn/bei-lun

In [83]:
coursera['Rating'].fillna(coursera['Rating'].mean())

0        4.8
1        4.4
2        4.5
3       20.0
4        4.8
        ...
9590     4.1
9591     4.9
9592     4.2
9593     4.5
9594    20.0
Name: Rating, Length: 9595, dtype: float64

In [84]:
coursera[1:6]

,Course Title,Rating,Level,Duration,Schedule,Review,What you will learn,Skill gain,Modules,Instructor,Offered By,Keyword,Course Url
1,Modern American Poetry,4.4,Beginner level,Approx. 34 hours to complete,Flexible schedule,100 reviews,NaN,[],"['Orientation', 'Module 1', 'Module 2', 'Modul...",['Cary Nelson'],['University of Illinois at Urbana-Champaign'],Arts and Humanities,https://www.coursera.org/learn/modern-american...
2,Pixel Art for Video Games,4.5,Beginner level,9 hours (approximately),Flexible schedule,227 reviews,NaN,[],"['Week 1: Introduction to Pixel Art', 'Week 2:...","['Andrew Dennis', 'Ricardo Guimaraes']",['Michigan State University'],Arts and Humanities,https://www.coursera.org/learn/pixel-art-video...
3,Distribución digital de la música independiente,20.0,Beginner level,Approx. 8 hours to complete,Flexible schedule,NaN,NaN,[],"['Semana 1', 'Semana 2', 'Semana 3', 'Semana 4']",['Eduardo de la Vara Brown.'],['SAE Institute México'],Arts and Humanities,https://www.coursera.org/learn/distribucion-di...
4,The Blues: Understanding and Performing an Ame...,4.8,Beginner level,Approx. 11 hours to complete,Flexible schedule,582 reviews,Students will be able to describe the blues as...,"['Music', 'Chord', 'Jazz', 'Jazz Improvisation']","['Blues Progressions – Theory and Practice ', ...",['Dariusz Terefenko'],['University of Rochester'],Arts and Humanities,https://www.coursera.org/learn/the-blues
5,So You Think You Know Tango?,4.6,Beginner level,Approx. 5 hours to complete,Flexible schedule,107 reviews,Gain an appreciation for the Argentine Tango a...,[],['Module 1: The Many Dimensions of Tango and T...,['Kristin Wendland'],['Emory University'],Arts and Humanities,https://www.coursera.org/learn/tango

In [86]:
coursera[1:3]

,Course Title,Rating,Level,Duration,Schedule,Review,What you will learn,Skill gain,Modules,Instructor,Offered By,Keyword,Course Url
1,Modern American Poetry,4.4,Beginner level,Approx. 34 hours to complete,Flexible schedule,100 reviews,NaN,[],"['Orientation', 'Module 1', 'Module 2', 'Modul...",['Cary Nelson'],['University of Illinois at Urbana-Champaign'],Arts and Humanities,https://www.coursera.org/learn/modern-american...
2,Pixel Art for Video Games,4.5,Beginner level,9 hours (approximately),Flexible schedule,227 reviews,NaN,[],"['Week 1: Introduction to Pixel Art', 'Week 2:...","['Andrew Dennis', 'Ricardo Guimaraes']",['Michigan State University'],Arts and Humanities,https://www.coursera.org/learn/pixel-art-video...

In [88]:
coursera.iloc[1:6,1:3]

   Rating           Level
1     4.4  Beginner level
2     4.5  Beginner level
3    20.0  Beginner level
4     4.8  Beginner level
5     4.6  Beginner level

In [90]:
coursera.loc[1:5,:]

,Course Title,Rating,Level,Duration,Schedule,Review,What you will learn,Skill gain,Modules,Instructor,Offered By,Keyword,Course Url
1,Modern American Poetry,4.4,Beginner level,Approx. 34 hours to complete,Flexible schedule,100 reviews,NaN,[],"['Orientation', 'Module 1', 'Module 2', 'Modul...",['Cary Nelson'],['University of Illinois at Urbana-Champaign'],Arts and Humanities,https://www.coursera.org/learn/modern-american...
2,Pixel Art for Video Games,4.5,Beginner level,9 hours (approximately),Flexible schedule,227 reviews,NaN,[],"['Week 1: Introduction to Pixel Art', 'Week 2:...","['Andrew Dennis', 'Ricardo Guimaraes']",['Michigan State University'],Arts and Humanities,https://www.coursera.org/learn/pixel-art-video...
3,Distribución digital de la música independiente,20.0,Beginner level,Approx. 8 hours to complete,Flexible schedule,NaN,NaN,[],"['Semana 1', 'Semana 2', 'Semana 3', 'Semana 4']",['Eduardo de la Vara Brown.'],['SAE Institute México'],Arts and Humanities,https://www.coursera.org/learn/distribucion-di...
4,The Blues: Understanding and Performing an Ame...,4.8,Beginner level,Approx. 11 hours to complete,Flexible schedule,582 reviews,Students will be able to describe the blues as...,"['Music', 'Chord', 'Jazz', 'Jazz Improvisation']","['Blues Progressions – Theory and Practice ', ...",['Dariusz Terefenko'],['University of Rochester'],Arts and Humanities,https://www.coursera.org/learn/the-blues
5,So You Think You Know Tango?,4.6,Beginner level,Approx. 5 hours to complete,Flexible schedule,107 reviews,Gain an appreciation for the Argentine Tango a...,[],['Module 1: The Many Dimensions of Tango and T...,['Kristin Wendland'],['Emory University'],Arts and Humanities,https://www.coursera.org/learn/tango

In [96]:
coursera.iloc[1,1]=250

In [97]:
coursera

,Course Title,Rating,Level,Duration,Schedule,Review,What you will learn,Skill gain,Modules,Instructor,Offered By,Keyword,Course Url
0,Fashion as Design,4.8,Beginner level,20 hours (approximately),Flexible schedule,"2,813 reviews",NaN,"['Art History', 'Art', 'History', 'Creativity']","['Introduction', 'Heroes', 'Silhouettes', 'Cou...","['Anna Burckhardt', 'Paola Antonelli', 'Michel...",['The Museum of Modern Art'],Arts and Humanities,https://www.coursera.org/learn/fashion-design
1,100,250.0,100,100,100,100,100,100,100,100,100,100,100
2,100,100.0,100,100,100,100,100,100,100,100,100,100,100
3,100,100.0,100,100,100,100,100,100,100,100,100,100,100
4,The Blues: Understanding and Performing an Ame...,4.8,Beginner level,Approx. 11 hours to complete,Flexible schedule,582 reviews,Students will be able to describe the blues as...,"['Music', 'Chord', 'Jazz', 'Jazz Improvisation']","['Blues Progressions – Theory and Practice ', ...",['Dariusz Terefenko'],['University of Rochester'],Arts and Humanities,https://www.coursera.org/learn/the-blues
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9590,Power Onboarding,4.1,Beginner level,Approx. 7 hours to complete,Flexible schedule,36 reviews,NaN,[],"['Week 1 - Get Ready', 'Session 2 - Get Set', ...",['William J. White'],['Northwestern University'],Social Sciences,https://www.coursera.org/learn/power-onboarding
9591,Implementing Parent Feedback with Google Forms,4.9,Beginner level,NaN,NaN,77 reviews,Creating engaging parent surveys using Google ...,"['Education', 'online tools', 'engagement', 'e...",['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/education-fe...
9592,"""Making"" Progress Teach-Out",4.2,Beginner level,Approx. 5 hours to complete,Flexible schedule,10 reviews,NaN,[],"['Week 1', 'WEEK 2']",['Pablo Palomino'],['Emory University'],Social Sciences,https://www.coursera.org/learn/makingprogress
9593,Use Microsoft PowerPoint to Create a Visual Sc...,4.5,Beginner level,1 hour,NaN,11 reviews,Learn about choice boards and their use within...,"['Teaching tools', 'elementary teaching', 'eng...",['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/use-microsof...
9594,Créer du contenu pour les réseaux sociaux avec...,20.0,Beginner level,NaN,NaN,NaN,Vous découvrirez les fonctionnalités de Prezi ...,"['Social Media Marketing', 'Social Media', 'Co...",['Learn step-by-step'],['Sara Nefzaoui'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/creer-conten...

In [98]:
coursera.drop(coursera.index[1])

,Course Title,Rating,Level,Duration,Schedule,Review,What you will learn,Skill gain,Modules,Instructor,Offered By,Keyword,Course Url
0,Fashion as Design,4.8,Beginner level,20 hours (approximately),Flexible schedule,"2,813 reviews",NaN,"['Art History', 'Art', 'History', 'Creativity']","['Introduction', 'Heroes', 'Silhouettes', 'Cou...","['Anna Burckhardt', 'Paola Antonelli', 'Michel...",['The Museum of Modern Art'],Arts and Humanities,https://www.coursera.org/learn/fashion-design
2,100,100.0,100,100,100,100,100,100,100,100,100,100,100
3,100,100.0,100,100,100,100,100,100,100,100,100,100,100
4,The Blues: Understanding and Performing an Ame...,4.8,Beginner level,Approx. 11 hours to complete,Flexible schedule,582 reviews,Students will be able to describe the blues as...,"['Music', 'Chord', 'Jazz', 'Jazz Improvisation']","['Blues Progressions – Theory and Practice ', ...",['Dariusz Terefenko'],['University of Rochester'],Arts and Humanities,https://www.coursera.org/learn/the-blues
5,So You Think You Know Tango?,4.6,Beginner level,Approx. 5 hours to complete,Flexible schedule,107 reviews,Gain an appreciation for the Argentine Tango a...,[],['Module 1: The Many Dimensions of Tango and T...,['Kristin Wendland'],['Emory University'],Arts and Humanities,https://www.coursera.org/learn/tango
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9590,Power Onboarding,4.1,Beginner level,Approx. 7 hours to complete,Flexible schedule,36 reviews,NaN,[],"['Week 1 - Get Ready', 'Session 2 - Get Set', ...",['William J. White'],['Northwestern University'],Social Sciences,https://www.coursera.org/learn/power-onboarding
9591,Implementing Parent Feedback with Google Forms,4.9,Beginner level,NaN,NaN,77 reviews,Creating engaging parent surveys using Google ...,"['Education', 'online tools', 'engagement', 'e...",['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/education-fe...
9592,"""Making"" Progress Teach-Out",4.2,Beginner level,Approx. 5 hours to complete,Flexible schedule,10 reviews,NaN,[],"['Week 1', 'WEEK 2']",['Pablo Palomino'],['Emory University'],Social Sciences,https://www.coursera.org/learn/makingprogress
9593,Use Microsoft PowerPoint to Create a Visual Sc...,4.5,Beginner level,1 hour,NaN,11 reviews,Learn about choice boards and their use within...,"['Teaching tools', 'elementary teaching', 'eng...",['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/use-microsof...
9594,Créer du contenu pour les réseaux sociaux avec...,20.0,Beginner level,NaN,NaN,NaN,Vous découvrirez les fonctionnalités de Prezi ...,"['Social Media Marketing', 'Social Media', 'Co...",['Learn step-by-step'],['Sara Nefzaoui'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/creer-conten...

In [101]:
coursera.drop(coursera.columns[2],axis=1)

,Course Title,Rating,Duration,Schedule,Review,What you will learn,Skill gain,Modules,Instructor,Offered By,Keyword,Course Url
0,Fashion as Design,4.8,20 hours (approximately),Flexible schedule,"2,813 reviews",NaN,"['Art History', 'Art', 'History', 'Creativity']","['Introduction', 'Heroes', 'Silhouettes', 'Cou...","['Anna Burckhardt', 'Paola Antonelli', 'Michel...",['The Museum of Modern Art'],Arts and Humanities,https://www.coursera.org/learn/fashion-design
1,100,250.0,100,100,100,100,100,100,100,100,100,100
2,100,100.0,100,100,100,100,100,100,100,100,100,100
3,100,100.0,100,100,100,100,100,100,100,100,100,100
4,The Blues: Understanding and Performing an Ame...,4.8,Approx. 11 hours to complete,Flexible schedule,582 reviews,Students will be able to describe the blues as...,"['Music', 'Chord', 'Jazz', 'Jazz Improvisation']","['Blues Progressions – Theory and Practice ', ...",['Dariusz Terefenko'],['University of Rochester'],Arts and Humanities,https://www.coursera.org/learn/the-blues
...,...,...,...,...,...,...,...,...,...,...,...,...
9590,Power Onboarding,4.1,Approx. 7 hours to complete,Flexible schedule,36 reviews,NaN,[],"['Week 1 - Get Ready', 'Session 2 - Get Set', ...",['William J. White'],['Northwestern University'],Social Sciences,https://www.coursera.org/learn/power-onboarding
9591,Implementing Parent Feedback with Google Forms,4.9,NaN,NaN,77 reviews,Creating engaging parent surveys using Google ...,"['Education', 'online tools', 'engagement', 'e...",['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/education-fe...
9592,"""Making"" Progress Teach-Out",4.2,Approx. 5 hours to complete,Flexible schedule,10 reviews,NaN,[],"['Week 1', 'WEEK 2']",['Pablo Palomino'],['Emory University'],Social Sciences,https://www.coursera.org/learn/makingprogress
9593,Use Microsoft PowerPoint to Create a Visual Sc...,4.5,1 hour,NaN,11 reviews,Learn about choice boards and their use within...,"['Teaching tools', 'elementary teaching', 'eng...",['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/use-microsof...
9594,Créer du contenu pour les réseaux sociaux avec...,20.0,NaN,NaN,NaN,Vous découvrirez les fonctionnalités de Prezi ...,"['Social Media Marketing', 'Social Media', 'Co...",['Learn step-by-step'],['Sara Nefzaoui'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/creer-conten...

In [105]:
coursera.drop(["Skill gain","Keyword"],axis=1)

,Course Title,Rating,Level,Duration,Schedule,Review,What you will learn,Modules,Instructor,Offered By,Course Url
0,Fashion as Design,4.8,Beginner level,20 hours (approximately),Flexible schedule,"2,813 reviews",NaN,"['Introduction', 'Heroes', 'Silhouettes', 'Cou...","['Anna Burckhardt', 'Paola Antonelli', 'Michel...",['The Museum of Modern Art'],https://www.coursera.org/learn/fashion-design
1,100,250.0,100,100,100,100,100,100,100,100,100
2,100,100.0,100,100,100,100,100,100,100,100,100
3,100,100.0,100,100,100,100,100,100,100,100,100
4,The Blues: Understanding and Performing an Ame...,4.8,Beginner level,Approx. 11 hours to complete,Flexible schedule,582 reviews,Students will be able to describe the blues as...,"['Blues Progressions – Theory and Practice ', ...",['Dariusz Terefenko'],['University of Rochester'],https://www.coursera.org/learn/the-blues
...,...,...,...,...,...,...,...,...,...,...,...
9590,Power Onboarding,4.1,Beginner level,Approx. 7 hours to complete,Flexible schedule,36 reviews,NaN,"['Week 1 - Get Ready', 'Session 2 - Get Set', ...",['William J. White'],['Northwestern University'],https://www.coursera.org/learn/power-onboarding
9591,Implementing Parent Feedback with Google Forms,4.9,Beginner level,NaN,NaN,77 reviews,Creating engaging parent surveys using Google ...,['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],https://www.coursera.org/projects/education-fe...
9592,"""Making"" Progress Teach-Out",4.2,Beginner level,Approx. 5 hours to complete,Flexible schedule,10 reviews,NaN,"['Week 1', 'WEEK 2']",['Pablo Palomino'],['Emory University'],https://www.coursera.org/learn/makingprogress
9593,Use Microsoft PowerPoint to Create a Visual Sc...,4.5,Beginner level,1 hour,NaN,11 reviews,Learn about choice boards and their use within...,['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],https://www.coursera.org/projects/use-microsof...
9594,Créer du contenu pour les réseaux sociaux avec...,20.0,Beginner level,NaN,NaN,NaN,Vous découvrirez les fonctionnalités de Prezi ...,['Learn step-by-step'],['Sara Nefzaoui'],['Coursera Project Network'],https://www.coursera.org/projects/creer-conten...

In [112]:

df=pd.Series((101,"nisha",66),index=["roll","name","mark"])
df

roll      101
name    nisha
mark       66
dtype: object

In [116]:
df1={0:[pd.Series([1,2,3])],1:[pd.Series([4,5,6])]}
df1

{0: [0    1
  1    2
  2    3
  dtype: int64],
 1: [0    4
  1    5
  2    6
  dtype: int64]}

In [118]:
ds=pd.DataFrame(index=range(3),columns=range(5))
ds

     0    1    2    3    4
0  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN

In [119]:
ds.isna()

      0     1     2     3     4
0  True  True  True  True  True
1  True  True  True  True  True
2  True  True  True  True  True

In [122]:
ds.fillna(10)

    0   1   2   3   4
0  10  10  10  10  10
1  10  10  10  10  10
2  10  10  10  10  10

In [126]:
ds[1].count()

0

In [132]:
df=pd.Series([3,4,9,8,8,8,8, 0])
df.sort_values()

7    0
0    3
1    4
3    8
4    8
5    8
6    8
2    9
dtype: int64

In [133]:
ds

     0    1    2    3    4
0  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN

In [139]:
df1={3:"nisha",8:"ammu"}
res=df.map(df1)

In [141]:
res.isnull()

0    False
1     True
2     True
3    False
4    False
5    False
6    False
7     True
dtype: bool

In [142]:
res.dropna()

0    nisha
3     ammu
4     ammu
5     ammu
6     ammu
dtype: object

In [143]:
res.fillna("nilu")

0    nisha
1     nilu
2     nilu
3     ammu
4     ammu
5     ammu
6     ammu
7     nilu
dtype: object

In [144]:
coursera

,Course Title,Rating,Level,Duration,Schedule,Review,What you will learn,Skill gain,Modules,Instructor,Offered By,Keyword,Course Url
0,Fashion as Design,4.8,Beginner level,20 hours (approximately),Flexible schedule,"2,813 reviews",NaN,"['Art History', 'Art', 'History', 'Creativity']","['Introduction', 'Heroes', 'Silhouettes', 'Cou...","['Anna Burckhardt', 'Paola Antonelli', 'Michel...",['The Museum of Modern Art'],Arts and Humanities,https://www.coursera.org/learn/fashion-design
1,100,250.0,100,100,100,100,100,100,100,100,100,100,100
2,100,100.0,100,100,100,100,100,100,100,100,100,100,100
3,100,100.0,100,100,100,100,100,100,100,100,100,100,100
4,The Blues: Understanding and Performing an Ame...,4.8,Beginner level,Approx. 11 hours to complete,Flexible schedule,582 reviews,Students will be able to describe the blues as...,"['Music', 'Chord', 'Jazz', 'Jazz Improvisation']","['Blues Progressions – Theory and Practice ', ...",['Dariusz Terefenko'],['University of Rochester'],Arts and Humanities,https://www.coursera.org/learn/the-blues
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9590,Power Onboarding,4.1,Beginner level,Approx. 7 hours to complete,Flexible schedule,36 reviews,NaN,[],"['Week 1 - Get Ready', 'Session 2 - Get Set', ...",['William J. White'],['Northwestern University'],Social Sciences,https://www.coursera.org/learn/power-onboarding
9591,Implementing Parent Feedback with Google Forms,4.9,Beginner level,NaN,NaN,77 reviews,Creating engaging parent surveys using Google ...,"['Education', 'online tools', 'engagement', 'e...",['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/education-fe...
9592,"""Making"" Progress Teach-Out",4.2,Beginner level,Approx. 5 hours to complete,Flexible schedule,10 reviews,NaN,[],"['Week 1', 'WEEK 2']",['Pablo Palomino'],['Emory University'],Social Sciences,https://www.coursera.org/learn/makingprogress
9593,Use Microsoft PowerPoint to Create a Visual Sc...,4.5,Beginner level,1 hour,NaN,11 reviews,Learn about choice boards and their use within...,"['Teaching tools', 'elementary teaching', 'eng...",['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/use-microsof...
9594,Créer du contenu pour les réseaux sociaux avec...,20.0,Beginner level,NaN,NaN,NaN,Vous découvrirez les fonctionnalités de Prezi ...,"['Social Media Marketing', 'Social Media', 'Co...",['Learn step-by-step'],['Sara Nefzaoui'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/creer-conten...

In [147]:
coursera['Rating']=coursera['Rating']*2
coursera

,Course Title,Rating,Level,Duration,Schedule,Review,What you will learn,Skill gain,Modules,Instructor,Offered By,Keyword,Course Url
0,Fashion as Design,19.2,Beginner level,20 hours (approximately),Flexible schedule,"2,813 reviews",NaN,"['Art History', 'Art', 'History', 'Creativity']","['Introduction', 'Heroes', 'Silhouettes', 'Cou...","['Anna Burckhardt', 'Paola Antonelli', 'Michel...",['The Museum of Modern Art'],Arts and Humanities,https://www.coursera.org/learn/fashion-design
1,100,1000.0,100,100,100,100,100,100,100,100,100,100,100
2,100,400.0,100,100,100,100,100,100,100,100,100,100,100
3,100,400.0,100,100,100,100,100,100,100,100,100,100,100
4,The Blues: Understanding and Performing an Ame...,19.2,Beginner level,Approx. 11 hours to complete,Flexible schedule,582 reviews,Students will be able to describe the blues as...,"['Music', 'Chord', 'Jazz', 'Jazz Improvisation']","['Blues Progressions – Theory and Practice ', ...",['Dariusz Terefenko'],['University of Rochester'],Arts and Humanities,https://www.coursera.org/learn/the-blues
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9590,Power Onboarding,16.4,Beginner level,Approx. 7 hours to complete,Flexible schedule,36 reviews,NaN,[],"['Week 1 - Get Ready', 'Session 2 - Get Set', ...",['William J. White'],['Northwestern University'],Social Sciences,https://www.coursera.org/learn/power-onboarding
9591,Implementing Parent Feedback with Google Forms,19.6,Beginner level,NaN,NaN,77 reviews,Creating engaging parent surveys using Google ...,"['Education', 'online tools', 'engagement', 'e...",['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/education-fe...
9592,"""Making"" Progress Teach-Out",16.8,Beginner level,Approx. 5 hours to complete,Flexible schedule,10 reviews,NaN,[],"['Week 1', 'WEEK 2']",['Pablo Palomino'],['Emory University'],Social Sciences,https://www.coursera.org/learn/makingprogress
9593,Use Microsoft PowerPoint to Create a Visual Sc...,18.0,Beginner level,1 hour,NaN,11 reviews,Learn about choice boards and their use within...,"['Teaching tools', 'elementary teaching', 'eng...",['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/use-microsof...
9594,Créer du contenu pour les réseaux sociaux avec...,80.0,Beginner level,NaN,NaN,NaN,Vous découvrirez les fonctionnalités de Prezi ...,"['Social Media Marketing', 'Social Media', 'Co...",['Learn step-by-step'],['Sara Nefzaoui'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/creer-conten...

In [155]:
coursera.drop(coursera.columns[2:5],axis=1)

,Course Title,Rating,Review,What you will learn,Skill gain,Modules,Instructor,Offered By,Keyword,Course Url
0,Fashion as Design,19.2,"2,813 reviews",NaN,"['Art History', 'Art', 'History', 'Creativity']","['Introduction', 'Heroes', 'Silhouettes', 'Cou...","['Anna Burckhardt', 'Paola Antonelli', 'Michel...",['The Museum of Modern Art'],Arts and Humanities,https://www.coursera.org/learn/fashion-design
1,100,1000.0,100,100,100,100,100,100,100,100
2,100,400.0,100,100,100,100,100,100,100,100
3,100,400.0,100,100,100,100,100,100,100,100
4,The Blues: Understanding and Performing an Ame...,19.2,582 reviews,Students will be able to describe the blues as...,"['Music', 'Chord', 'Jazz', 'Jazz Improvisation']","['Blues Progressions – Theory and Practice ', ...",['Dariusz Terefenko'],['University of Rochester'],Arts and Humanities,https://www.coursera.org/learn/the-blues
...,...,...,...,...,...,...,...,...,...,...
9590,Power Onboarding,16.4,36 reviews,NaN,[],"['Week 1 - Get Ready', 'Session 2 - Get Set', ...",['William J. White'],['Northwestern University'],Social Sciences,https://www.coursera.org/learn/power-onboarding
9591,Implementing Parent Feedback with Google Forms,19.6,77 reviews,Creating engaging parent surveys using Google ...,"['Education', 'online tools', 'engagement', 'e...",['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/education-fe...
9592,"""Making"" Progress Teach-Out",16.8,10 reviews,NaN,[],"['Week 1', 'WEEK 2']",['Pablo Palomino'],['Emory University'],Social Sciences,https://www.coursera.org/learn/makingprogress
9593,Use Microsoft PowerPoint to Create a Visual Sc...,18.0,11 reviews,Learn about choice boards and their use within...,"['Teaching tools', 'elementary teaching', 'eng...",['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/use-microsof...
9594,Créer du contenu pour les réseaux sociaux avec...,80.0,NaN,Vous découvrirez les fonctionnalités de Prezi ...,"['Social Media Marketing', 'Social Media', 'Co...",['Learn step-by-step'],['Sara Nefzaoui'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/creer-conten...

In [162]:
res=coursera['Rating'].between(70,90)
coursera[res]

,Course Title,Rating,Level,Duration,Schedule,Review,What you will learn,Skill gain,Modules,Instructor,Offered By,Keyword,Course Url
7,Становлення сучасної України,80.0,Beginner level,Approx. 23 hours to complete,Flexible schedule,NaN,NaN,[],['Становлення сучасної України'],['Timothy Snyder'],['Yale University'],Arts and Humanities,https://www.coursera.org/learn/the-making-of-m...
16,Create your UX portfolio with Adobe Portfolio,80.0,Beginner level,NaN,NaN,NaN,In this project you will learn how to create a...,"['Share Content', 'Search Engine Optimization ...",['Learn step-by-step'],['Nicole Alvelo'],['Coursera Project Network'],Arts and Humanities,https://www.coursera.org/projects/create-your-...
20,Cultura Maya en Yucatán,80.0,Beginner level,Approx. 14 hours to complete,Flexible schedule,NaN,Conocerás los aspectos fundamentales de la Cul...,[],"['Inicia aquí', 'Módulo 1: Introducción a la C...","['Alejandro Esteban Fitzmaurice Cahluni', 'Jor...",['Universidades Anáhuac'],Arts and Humanities,https://www.coursera.org/learn/cultura-maya-en...
22,"Herencia negra, aplicación de ritmos afroperuanos",80.0,Beginner level,Approx. 16 hours to complete,Flexible schedule,NaN,NaN,"['Musical Notation', 'Musical Composition']","['Bienvenida al curso', 'Panorama de la cultur...",['Javier Lazo Figueroa'],['Pontificia Universidad Católica del Perú'],Arts and Humanities,https://www.coursera.org/learn/aplicacion-ritm...
23,Storytelling y medios digitales,80.0,Beginner level,Approx. 8 hours to complete,Flexible schedule,NaN,NaN,[],"['Semana 1', 'Semana 2', 'Semana 3']",['Josué Rodrigo Contreras Granados'],['SAE Institute México'],Arts and Humanities,https://www.coursera.org/learn/storytelling-y-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9582,Housing Justice: A View from Indian Cities,80.0,Beginner level,Approx. 17 hours to complete,Flexible schedule,NaN,NaN,[],"['Introduction to the Course', 'Framing Module...","['Gautam Bhan', 'Swastik Harish']",['Indian Institute for Human Settlements'],Social Sciences,https://www.coursera.org/learn/housing-justice...
9584,R Programming and Tidyverse Capstone Project,80.0,Beginner level,9 hours (approximately),Flexible schedule,NaN,"Utilize R programming to import, clean, and ti...","['Data Analysis', 'Communication', 'Data Manip...","['COVID-19 Data Analysis: Getting Started', 'C...",['Jane Wall'],['University of Colorado Boulder'],Social Sciences,https://www.coursera.org/learn/r-programming-t...
9586,Using Microsoft PowerPoint to Create a Choice ...,80.0,Beginner level,1 hour,NaN,NaN,Learn about choice boards and their use within...,"['online tools', 'classroom learning', 'engagi...",['Learn step-by-step'],['Rachel Lindsay'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/using-micros...
9587,"India-US Relations: Geopolitics, Culture, and ...",80.0,Beginner level,33 hours (approximately),Flexible schedule,NaN,Describe the scope and breadth of India-US rel...,"['analytical thinking', 'Cultural Awareness', ...","['American Culture', 'India-US Strategic Relat...",['Dr. Rajdeep Pakanati'],['O.P. Jindal Global University'],Social Sciences,https://www.coursera.org/learn/india-us-relati...
9594,Créer du contenu pour les réseaux sociaux avec...,80.0,Beginner level,NaN,NaN,NaN,Vous découvrirez les fonctionnalités de Prezi ...,"['Social Media Marketing', 'Social Media', 'Co...",['Learn step-by-step'],['Sara Nefzaoui'],['Coursera Project Network'],Social Sciences,https://www.coursera.org/projects/creer-conten...

In [163]:
res=coursera['Rating'].isin([1000,400])
coursera[res]

,Course Title,Rating,Level,Duration,Schedule,Review,What you will learn,Skill gain,Modules,Instructor,Offered By,Keyword,Course Url
1,100,1000.0,100,100,100,100,100,100,100,100,100,100,100
2,100,400.0,100,100,100,100,100,100,100,100,100,100,100
3,100,400.0,100,100,100,100,100,100,100,100,100,100,100

In [164]:
course=pd.read_csv("Crop_recommendation.csv")

In [165]:
course.head(10)

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label,Unnamed: 8,Unnamed: 9
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,NaN,NaN
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,NaN,NaN
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,NaN,NaN
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,NaN,NaN
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,NaN,NaN
5,69,37,42,23.058049,83.370118,7.073454,251.055000,rice,NaN,NaN
6,69,55,38,22.708838,82.639414,5.700806,271.324860,rice,NaN,NaN
7,94,53,40,20.277744,82.894086,5.718627,241.974195,rice,NaN,NaN
8,89,54,38,24.515881,83.535216,6.685346,230.446236,rice,NaN,NaN
9,68,58,38,23.223974,83.033227,6.336254,221.209196,rice,NaN,NaN

In [171]:
course['potassium'].mean()

48.14909090909091

course.loc[1:5,'Nitrogen]

In [172]:
course

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label,Unnamed: 8,Unnamed: 9
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,NaN,NaN
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,NaN,NaN
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,NaN,NaN
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,NaN,NaN
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee,NaN,NaN
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee,NaN,NaN
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee,NaN,NaN
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee,NaN,NaN
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee,NaN,NaN

In [174]:
course.loc[1:5,'Nitrogen']

1    85
2    60
3    74
4    78
5    69
Name: Nitrogen, dtype: int64

In [178]:
course.loc[2:6,"Nitrogen":"ph"]

   Nitrogen  phosphorus  potassium  temperature   humidity        ph
2        60          55         44    23.004459  82.320763  7.840207
3        74          35         40    26.491096  80.158363  6.980401
4        78          42         42    20.130175  81.604873  7.628473
5        69          37         42    23.058049  83.370118  7.073454
6        69          55         38    22.708838  82.639414  5.700806

In [179]:
course['label'].value_counts()

label
rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: count, dtype: int64

In [180]:
data=course.groupby(['label'])
data

In [181]:
data.describe()

            Nitrogen                                                          \
               count    mean        std    min     25%    50%     75%    max
label
apple          100.0   20.80  11.863704    0.0   10.00   24.0   30.00   40.0
banana         100.0  100.23  11.107241   80.0   92.00  100.5  108.25  120.0
blackgram      100.0   40.02  12.664258   20.0   28.75   41.0   52.00   60.0
chickpea       100.0   40.09  12.150649   20.0   30.00   39.0   52.00   60.0
coconut        100.0   21.98  11.761931    0.0   13.75   24.0   31.00   40.0
coffee         100.0  101.20  12.345203   80.0   89.00  103.0  112.00  120.0
cotton         100.0  117.77  11.628817  100.0  107.75  117.0  127.50  140.0
grapes         100.0   23.18  12.466829    0.0   11.75   24.0   35.00   40.0
jute           100.0   78.40  10.968274   60.0   70.00   78.0   88.25  100.0
kidneybeans    100.0   20.75  10.834266    0.0   11.75   22.0   28.00   40.0
lentil         100.0   18.77  12.196915    0.0    9.00   16.5   29.25   40.0
maize          100.0   77.76  11.949490   60.0   67.75   76.0   87.00  100.0
mango          100.0   20.07  12.329037    0.0    9.00   21.0   30.25   40.0
mothbeans      100.0   21.44  11.343418    0.0   11.00   22.0   30.25   40.0
mungbean       100.0   20.99  11.510641    0.0   10.00   22.0   31.00   40.0
muskmelon      100.0  100.32  12.176215   80.0   89.00  100.0  111.00  120.0
orange         100.0   19.58  11.941930    0.0    9.00   19.0   31.00   40.0
papaya         100.0   49.88  12.219607   31.0   39.00   49.0   59.25   70.0
pigeonpeas     100.0   20.73  11.849950    0.0   10.00   20.0   30.25   40.0
pomegranate    100.0   18.87  12.617652    0.0    8.00   18.0   29.25   40.0
rice           100.0   79.89  11.917981   60.0   69.00   80.0   91.00   99.0
watermelon     100.0   99.42  12.565127   80.0   89.00   99.0  110.00  120.0

            phosphorus          ... Unnamed: 8     Unnamed: 9               \
                 count    mean  ...        75% max      count mean std min
label                           ...
apple            100.0  134.22  ...        NaN NaN        0.0  NaN NaN NaN
banana           100.0   82.01  ...        NaN NaN        0.0  NaN NaN NaN
blackgram        100.0   67.47  ...        NaN NaN        0.0  NaN NaN NaN
chickpea         100.0   67.79  ...        NaN NaN        0.0  NaN NaN NaN
coconut          100.0   16.93  ...        NaN NaN        0.0  NaN NaN NaN
coffee           100.0   28.74  ...        NaN NaN        0.0  NaN NaN NaN
cotton           100.0   46.24  ...        NaN NaN        0.0  NaN NaN NaN
grapes           100.0  132.53  ...        NaN NaN        0.0  NaN NaN NaN
jute             100.0   46.86  ...        NaN NaN        0.0  NaN NaN NaN
kidneybeans      100.0   67.54  ...        NaN NaN        0.0  NaN NaN NaN
lentil           100.0   68.36  ...        NaN NaN        0.0  NaN NaN NaN
maize            100.0   48.44  ...        NaN NaN        0.0  NaN NaN NaN
mango            100.0   27.18  ...        NaN NaN        0.0  NaN NaN NaN
mothbeans        100.0   48.01  ...        NaN NaN        0.0  NaN NaN NaN
mungbean         100.0   47.28  ...        NaN NaN        0.0  NaN NaN NaN
muskmelon        100.0   17.72  ...        NaN NaN        0.0  NaN NaN NaN
orange           100.0   16.55  ...        NaN NaN        0.0  NaN NaN NaN
papaya           100.0   59.05  ...        NaN NaN        0.0  NaN NaN NaN
pigeonpeas       100.0   67.73  ...        NaN NaN        0.0  NaN NaN NaN
pomegranate      100.0   18.75  ...        NaN NaN        0.0  NaN NaN NaN
rice             100.0   47.58  ...        NaN NaN        0.0  NaN NaN NaN
watermelon       100.0   17.00  ...        NaN NaN        0.0  NaN NaN NaN


            25% 50% 75% max
label
apple       NaN NaN NaN NaN
banana      NaN NaN NaN NaN
blackgram   NaN NaN NaN NaN
chickpea    NaN NaN NaN NaN
coconut     NaN NaN NaN NaN
coffee      NaN NaN NaN NaN
cotton      NaN NaN NaN NaN
grapes      NaN NaN NaN NaN
jute        NaN NaN NaN NaN
kidneybeans NaN NaN NaN NaN
lentil      NaN NaN NaN NaN
maize       NaN NaN NaN NaN
mango       NaN NaN NaN NaN
mothbeans   NaN NaN NaN NaN
mungbean    NaN NaN NaN NaN
muskmelon   NaN NaN NaN NaN
orange      NaN NaN NaN NaN
papaya      NaN NaN NaN NaN
pigeonpeas  NaN NaN NaN NaN
pomegranate NaN NaN NaN NaN
rice        NaN NaN NaN NaN
watermelon  NaN NaN NaN NaN

[22 rows x 72 columns]

In [195]:
r=course.dropna(axis=1)
r

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice
...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee

In [199]:
res=r.groupby(['label'])

res

In [200]:
res

In [201]:
res.describe()

            Nitrogen                                                          \
               count    mean        std    min     25%    50%     75%    max
label
apple          100.0   20.80  11.863704    0.0   10.00   24.0   30.00   40.0
banana         100.0  100.23  11.107241   80.0   92.00  100.5  108.25  120.0
blackgram      100.0   40.02  12.664258   20.0   28.75   41.0   52.00   60.0
chickpea       100.0   40.09  12.150649   20.0   30.00   39.0   52.00   60.0
coconut        100.0   21.98  11.761931    0.0   13.75   24.0   31.00   40.0
coffee         100.0  101.20  12.345203   80.0   89.00  103.0  112.00  120.0
cotton         100.0  117.77  11.628817  100.0  107.75  117.0  127.50  140.0
grapes         100.0   23.18  12.466829    0.0   11.75   24.0   35.00   40.0
jute           100.0   78.40  10.968274   60.0   70.00   78.0   88.25  100.0
kidneybeans    100.0   20.75  10.834266    0.0   11.75   22.0   28.00   40.0
lentil         100.0   18.77  12.196915    0.0    9.00   16.5   29.25   40.0
maize          100.0   77.76  11.949490   60.0   67.75   76.0   87.00  100.0
mango          100.0   20.07  12.329037    0.0    9.00   21.0   30.25   40.0
mothbeans      100.0   21.44  11.343418    0.0   11.00   22.0   30.25   40.0
mungbean       100.0   20.99  11.510641    0.0   10.00   22.0   31.00   40.0
muskmelon      100.0  100.32  12.176215   80.0   89.00  100.0  111.00  120.0
orange         100.0   19.58  11.941930    0.0    9.00   19.0   31.00   40.0
papaya         100.0   49.88  12.219607   31.0   39.00   49.0   59.25   70.0
pigeonpeas     100.0   20.73  11.849950    0.0   10.00   20.0   30.25   40.0
pomegranate    100.0   18.87  12.617652    0.0    8.00   18.0   29.25   40.0
rice           100.0   79.89  11.917981   60.0   69.00   80.0   91.00   99.0
watermelon     100.0   99.42  12.565127   80.0   89.00   99.0  110.00  120.0

            phosphorus          ...        ph           rainfall              \
                 count    mean  ...       75%       max    count        mean
label                           ...
apple            100.0  134.22  ...  6.135616  6.499227    100.0  112.654779
banana           100.0   82.01  ...  6.211092  6.490074    100.0  104.626980
blackgram        100.0   67.47  ...  7.419390  7.775306    100.0   67.884151
chickpea         100.0   67.79  ...  7.861625  8.868741    100.0   80.058977
coconut          100.0   16.93  ...  6.209201  6.470466    100.0  175.686646
coffee           100.0   28.74  ...  7.132105  7.493192    100.0  158.066295
cotton           100.0   46.24  ...  7.426792  7.994680    100.0   80.398043
grapes           100.0  132.53  ...  6.313711  6.499605    100.0   69.611829
jute             100.0   46.86  ...  7.126526  7.488014    100.0  174.792798
kidneybeans      100.0   67.54  ...  5.868351  5.998125    100.0  105.919778
lentil           100.0   68.36  ...  7.394295  7.841496    100.0   45.680454
maize            100.0   48.44  ...  6.602366  6.995844    100.0   84.766988
mango            100.0   27.18  ...  6.416573  6.967418    100.0   94.704515
mothbeans        100.0   48.01  ...  8.366003  9.935091    100.0   51.198487
mungbean         100.0   47.28  ...  6.982101  7.199495    100.0   48.403601
muskmelon        100.0   17.72  ...  6.550222  6.781050    100.0   24.689952
orange           100.0   16.55  ...  7.517194  7.995849    100.0  110.474969
papaya           100.0   59.05  ...  6.839783  6.993473    100.0  142.627839
pigeonpeas       100.0   67.73  ...  6.418984  7.445445    100.0  149.457564
pomegranate      100.0   18.75  ...  6.887951  7.199504    100.0  107.528442
rice             100.0   47.58  ...  7.039147  7.868475    100.0  236.181114
watermelon       100.0   17.00  ...  6.756902  6.956509    100.0   50.786219

                                                                        \
                   std         min         25%         50%         75%
label
apple         7.102985  100.117344  106.070135  112.979230  118.449546
banana        9.398150   90.109781   96.471109  105.007750  112.092171
blackgram     4.184186   60.417903   64.049755   68.293539   71.397924
chickpea      7.944350   65.113656   73.610409   79.692282   85.824482
coconut      29.472333  131.090008  149.126478  171.999922  202.351490
coffee       25.695086  115.156401  136.011746  157.770963  181.472018
cotton       11.231812   60.653817   70.894298   80.237095   90.418270
grapes        2.951759   65.010953   66.836826   69.536186   71.609366
jute         15.078367  150.235524  161.090683  175.590814  187.641532
kidneybeans  26.111384   60.275525   85.824741  107.399392  129.399964
lentil        5.632972   35.034848   41.571821   46.553255   49.997992
maize        15.547339   60.651715   70.384556   83.471553   99.877090
mango         3.338577   89.291476   91.612674   94.905973   97.475774
mothbeans    13.750693   30.920140   37.985391   51.182738   64.185059
mungbean      7.117214   36.120429   43.103300   49.028171   54.837313
muskmelon     2.773999   20.211267   22.067976   24.721512   26.861601
orange        5.717125  100.173796  106.220011  110.684073  115.565866
papaya       64.396577   40.351531   81.940962  139.000698  202.394057
pigeonpeas   32.986321   90.054227  122.345984  154.310507  177.907288
pomegranate   2.895339  102.518476  104.967353  107.588201  109.958146
rice         34.291825  182.561632  204.334023  233.119859  264.126903
watermelon    5.867006   40.126504   46.063351   50.671903   56.412795


                    max
label
apple        124.983162
banana       119.847970
blackgram     74.915595
chickpea      94.781896
coconut      225.632366
coffee       199.473564
cotton        99.931008
grapes        74.915062
jute         199.836291
kidneybeans  149.744103
lentil        54.939377
maize        109.751538
mango        100.812466
mothbeans     74.443307
mungbean      59.872321
muskmelon     29.866814
orange       119.694658
papaya       248.859299
pigeonpeas   198.829881
pomegranate  112.475094
rice         298.560117
watermelon    59.759800

[22 rows x 56 columns]

In [202]:
res.mean()

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall
label,,,,,,,
apple,20.80,134.22,199.89,22.630942,92.333383,5.929663,112.654779
banana,100.23,82.01,50.05,27.376798,80.358123,5.983893,104.626980
blackgram,40.02,67.47,19.24,29.973340,65.118426,7.133952,67.884151
chickpea,40.09,67.79,79.92,18.872847,16.860439,7.336957,80.058977
coconut,21.98,16.93,30.59,27.409892,94.844272,5.976562,175.686646
coffee,101.20,28.74,29.94,25.540477,58.869846,6.790308,158.066295
cotton,117.77,46.24,19.56,23.988958,79.843474,6.912675,80.398043
grapes,23.18,132.53,200.11,23.849575,81.875228,6.025937,69.611829
jute,78.40,46.86,39.99,24.958376,79.639864,6.732778,174.792798
kidneybeans,20.75,67.54,20.05,20.115085,21.605357,5.749411,105.919778
lentil,18.77,68.36,19.41,24.509052,64.804785,6.927932,45.680454
maize,77.76,48.44,19.79,22.389204,65.092249,6.245190,84.766988
mango,20.07,27.18,29.92,31.208770,50.156573,5.766373,94.704515
mothbeans,21.44,48.01,20.23,28.194920,53.160418,6.831174,51.198487
mungbean,20.99,47.28,19.87,28.525775,85.499975,6.723957,48.403601
muskmelon,100.32,17.72,50.08,28.663066,92.342802,6.358805,24.689952
orange,19.58,16.55,10.01,22.765725,92.170209,7.016957,110.474969
papaya,49.88,59.05,50.04,33.723859,92.403388,6.741442,142.627839
pigeonpeas,20.73,67.73,20.29,27.741762,48.061633,5.794175,149.457564
pomegranate,18.87,18.75,40.21,21.837842,90.125504,6.429172,107.528442
rice,79.89,47.58,39.87,23.689332,82.272822,6.425471,236.181114
watermelon,99.42,17.00,50.22,25.591767,85.160375,6.495778,50.786219

In [203]:
res.get_group('mango')

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label
1100,2,40,27,29.737700,47.548852,5.954627,90.095869,mango
1101,39,24,31,33.556956,53.729798,4.757115,98.675276,mango
1102,21,26,27,27.003155,47.675254,5.699587,95.851183,mango
1103,25,22,25,33.561502,45.535566,5.977414,95.705259,mango
1104,0,21,32,35.898556,54.259642,6.430139,92.197217,mango
...,...,...,...,...,...,...,...,...
1195,19,38,26,31.484517,48.779263,4.525722,93.172220,mango
1196,21,21,30,27.698193,51.415932,5.403908,100.772070,mango
1197,22,18,33,30.412358,52.481006,6.621624,93.923759,mango
1198,31,20,30,32.177520,54.013527,6.207496,91.887661,mango
1199,18,26,31,32.611261,47.749165,5.418475,91.101908,mango

In [204]:
course

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label,Unnamed: 8,Unnamed: 9
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,NaN,NaN
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,NaN,NaN
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,NaN,NaN
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,NaN,NaN
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee,NaN,NaN
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee,NaN,NaN
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee,NaN,NaN
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee,NaN,NaN
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee,NaN,NaN

In [206]:
course.dropna(axis=1)

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice
...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee

In [209]:
course.loc[2:6]

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label,Unnamed: 8,Unnamed: 9
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,NaN,NaN
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,NaN,NaN
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,NaN,NaN
5,69,37,42,23.058049,83.370118,7.073454,251.055000,rice,NaN,NaN
6,69,55,38,22.708838,82.639414,5.700806,271.324860,rice,NaN,NaN

In [213]:
course.loc[2:6],["Nitrogen"]

(   Nitrogen  phosphorus  potassium  temperature   humidity        ph  \
 2        60          55         44    23.004459  82.320763  7.840207
 3        74          35         40    26.491096  80.158363  6.980401
 4        78          42         42    20.130175  81.604873  7.628473
 5        69          37         42    23.058049  83.370118  7.073454
 6        69          55         38    22.708838  82.639414  5.700806

      rainfall label  Unnamed: 8  Unnamed: 9
 2  263.964248  rice         NaN         NaN
 3  242.864034  rice         NaN         NaN
 4  262.717340  rice         NaN         NaN
 5  251.055000  rice         NaN         NaN
 6  271.324860  rice         NaN         NaN  ,
 ['Nitrogen'])

In [214]:
course.iloc[2:6,3]

2    23.004459
3    26.491096
4    20.130175
5    23.058049
Name: temperature, dtype: float64

In [215]:
course.iloc[[2,3],[3,6]]

   temperature    rainfall
2    23.004459  263.964248
3    26.491096  242.864034

In [217]:
res=course.groupby(['label'])

In [218]:
res.mean()

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall
label,,,,,,,
apple,20.80,134.22,199.89,22.630942,92.333383,5.929663,112.654779
banana,100.23,82.01,50.05,27.376798,80.358123,5.983893,104.626980
blackgram,40.02,67.47,19.24,29.973340,65.118426,7.133952,67.884151
chickpea,40.09,67.79,79.92,18.872847,16.860439,7.336957,80.058977
coconut,21.98,16.93,30.59,27.409892,94.844272,5.976562,175.686646
coffee,101.20,28.74,29.94,25.540477,58.869846,6.790308,158.066295
cotton,117.77,46.24,19.56,23.988958,79.843474,6.912675,80.398043
grapes,23.18,132.53,200.11,23.849575,81.875228,6.025937,69.611829
jute,78.40,46.86,39.99,24.958376,79.639864,6.732778,174.792798
kidneybeans,20.75,67.54,20.05,20.115085,21.605357,5.749411,105.919778
lentil,18.77,68.36,19.41,24.509052,64.804785,6.927932,45.680454
maize,77.76,48.44,19.79,22.389204,65.092249,6.245190,84.766988
mango,20.07,27.18,29.92,31.208770,50.156573,5.766373,94.704515
mothbeans,21.44,48.01,20.23,28.194920,53.160418,6.831174,51.198487
mungbean,20.99,47.28,19.87,28.525775,85.499975,6.723957,48.403601
muskmelon,100.32,17.72,50.08,28.663066,92.342802,6.358805,24.689952
orange,19.58,16.55,10.01,22.765725,92.170209,7.016957,110.474969
papaya,49.88,59.05,50.04,33.723859,92.403388,6.741442,142.627839
pigeonpeas,20.73,67.73,20.29,27.741762,48.061633,5.794175,149.457564
pomegranate,18.87,18.75,40.21,21.837842,90.125504,6.429172,107.528442
rice,79.89,47.58,39.87,23.689332,82.272822,6.425471,236.181114
watermelon,99.42,17.00,50.22,25.591767,85.160375,6.495778,50.786219

In [224]:
course.count()

Nitrogen       2200
phosphorus     2200
potassium      2200
temperature    2200
humidity       2200
ph             2200
rainfall       2200
label          2200
Unnamed: 8        0
Unnamed: 9        0
dtype: int64

In [227]:
r=res['Nitrogen'].agg([min,max])
r

             min  max
label
apple          0   40
banana        80  120
blackgram     20   60
chickpea      20   60
coconut        0   40
coffee        80  120
cotton       100  140
grapes         0   40
jute          60  100
kidneybeans    0   40
lentil         0   40
maize         60  100
mango          0   40
mothbeans      0   40
mungbean       0   40
muskmelon     80  120
orange         0   40
papaya        31   70
pigeonpeas     0   40
pomegranate    0   40
rice          60   99
watermelon    80  120